<div class="container text-center about">
	<div class="row">
		<h1>GA WDI 04 Ugly Sweater Party!</h1>
		<h3>Eat, drink, and be ugly...</h3>
	</div>
	<div class="row">
			<img src="http://images1.laweekly.com/imager/ugly-christmas-sweaters-cat-edition/u/original/2444161/01_catsweater_lores.jpg" class="img-left img-blur">
			<h4>Deetz</h4>
			<ul class="deetz">
				<li>Wednesday, December 10 2015</li>
				<li>GA Classroom</li>
				<li>500 Yale Ave N</li>
				<li>Seattle, WA 98112</li>
				<li>===============</li>
				<li>BYOS</li>
				<li>BYOB</li>
				<li>BYOFriends</li>
			</ul>
	</div>
</div>