
<div id="splash-image" ng-hide="isLoggedIn()" class="text-center">
	<!-- <div class="col-md-3"></div> -->
	<div id="splashInfo" class="col-md-12">
		<h2 id="titleHeading">Eat. Drink. Be Ugly...</h2>
		<p class="col-md-6 col-md-offset-3">
			You're invited to this year's GA Ugly-Sweater Holiday Party. Login to submit your sweater, and see what sweaters other people are wearing.
		</p>
	</div>
</div>


<div ng-show="isLoggedIn()" class="container">
	<h1>all sweaters</h1>
	<a href='/new' type="button" class="btn btn-default">Add A Sweater!</a>
	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<div class="well sweater-list" ng-repeat="sweater in sweaters | filter:search track by $index">
					<h1><a class="sweater-link-list" ng-click="showDetails(sweater._id)">{{sweater.title}}</a></h1>
					<p>{{sweater.material}}</p>
					<p>{{sweater.color}}</p>
					<button ng-click="deleteSweater(sweater._id, $index)" class="btn btn-default">Delete</button>
				</div>
			
		</div>

		<div ng-show="showing" id="sweater-focus" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div>
				<h3 class="text-center">{{sweeter.title}}</h3>
				<p class="text-center">Material: {{sweeter.material}}</p>
				<p class="text-center">Color: {{sweeter.color}}</p>
				<p class="text-center">Pompoms: {{sweeter.pompoms}}</p>
				<img class="image-focus center-block" src="{{sweeter.img}}">
			</div>
		</div>
	</div>	
</div>