
<div id="splash-image" ng-hide="isLoggedIn()" class="text-center">
	<!-- <div class="col-md-3"></div> -->
	<div id="splashInfo" class="col-md-12">
		<h3>Eat. Drink. Be Ugly...</h3>
		<p class="col-md-6 col-md-offset-3">
			You're invited to this year's GA Ugly-Sweater Holiday Party. Login to submit your sweater, and see what sweaters other people are wearing.
		</p>
	</div>
	<!-- <div class="col-md-3"></div> -->

	<!-- <img id="splash-image" src="https://cdn.shopify.com/s/files/1/0384/0921/products/faces-ninja-turtle-faux-christmas-sweater.main.jpeg?v=1414182961" class="img-responsive"> -->
</div>


<div ng-show="isLoggedIn()" class="container">
	<h1>all sweaters</h1>
	<a href='/new' type="button" class="btn btn-default">Add A Sweater!</a>
	<div class="well" ng-repeat="sweater in sweaters track by $index">
		<h1>{{sweater.title}}</h1>
		<p>{{sweater.material}}</p>
		<p>{{sweater.color}}</p>
	</div>


</div>