#splash-image{
	background-image: url("https://cdn.shopify.com/s/files/1/0384/0921/products/faces-ninja-turtle-faux-christmas-sweater.main.jpeg?v=1414182961");
	background-size: 100%;
	background-repeat: no-repeat;
	/*width: 100%;*/
	height: 640px;
	z-index: -500;
}

.navbar{
	margin: 0;
	background-color: #3c8d0d;

}

#navCustom {
	
	color: white;
}

#splashInfo {
	z-index: 5;
	background-color: rgba(210,210,210,0.8);
	margin-top: 200px;
	color: black;
	box-shadow: 10px 5px 5px rgba(105,105,105,0.7);
	border-radius: 3px;
	padding: 20px;
	font-size: 18px;
}

#titleHeading {
	font-size: 36px;
}

* {
	font-family: 'Mountains of Christmas', cursive;

}










.btn {
	background-color: #b7011f;
	color: white;
	border: 2px solid white;

}

.btn:hover,
.btn:active {
	background-color: white;
	color: #b7011f;
	border: 2px solid #b7011f;
}